<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>微博</title>
<link href="style/weibo.css" rel="stylesheet" type="text/css" />
  <script src="js/vue.js"></script>
  <script src="js/vue-resource.js"></script>
  <script>
    window.onload=function(){
      let vm=new Vue({
        el:'.znsArea',
        data:{
          ipt:'',
          arr:[
//            {id:'xx',time:'xxx',content:'xxxx',acc:0,ref:0}
          ]
        },
        methods:{
          send(){
            //weibo.php?act=add&content=xxx	添加一条
            let URL='weibo.php';
            this.$http({
              url:URL,
              data:{
                act:'add',
                content:this.ipt
              }
            }).then((res)=>{
              //{error:0, id: 新添加内容的ID, time: 添加时间}
              console.log(res.data);
              //ajax resource axios is over!!!
              this.arr.push({
                id:res.data.id,
                time:res.data.time,
                content:this.ipt,
                acc:0,
                ref:0
              });
            },(error)=>{
              alert('路径有误'+error.status)
            })
          }
        }
      });
    }
  </script>
</head>

<body>
<div class="znsArea">
<!--留言-->
     <div class="takeComment">
        <textarea name="textarea" class="takeTextField" id="tijiaoText" v-model="ipt"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" @click="send"  />
            <span>(可按 Enter 回复)</span>
        </div>
    </div>
<!--已留-->
    <div class="commentOn">
        <div class="noContent" v-if="arr.length==0">暂无留言</div>
        <div class="messList">
        	<div class="reply" v-for="item in arr">
                <p class="replyContent">{{item.content}}</p>
                <p class="operation">
                    <span class="replyTime">{{item.time}}</span>
                    <span class="handle">
                    	<a href="javascript:;" class="top">{{item.acc}}</a>
                        <a href="javascript:;" class="down_icon">{{item.ref}}</a>
                        <a href="javascript:;" class="cut">删除</a>
                    </span>
                </p>
            </div>
        </div>
        <div class="page">
        	<a href="javascript:;" class="active">1</a>
        	<a href="javascript:;">2</a>
        	<a href="javascript:;">3</a>
        </div>
    </div>
</div>
</body>
</html>
