<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>666</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 微软雅黑;
    }

    #div1 {
      width: 200px;
      height: 200px;
      background: #ccc;
    }
  </style>
  <script src="js/vue.js"></script>
  <script>
    window.onload = function () {
      let vm=new Vue({
        el:'#app',
        data:{
          ipt:'',
          arr:['apple','banana','orange','pear']
        },
        methods:{},
        computed:{
          cptArr:function(){
          //  alert(this.ipt);
            let result=[];
            //过滤
//            alert(this);
            let _this=this;
            this.arr.forEach(function(val,index){
//              alert(val);
//              alert(_this);
              if(val.indexOf(_this.ipt) != -1){
                result.push(val)
              }
            });
            return result;
          }
        }
      });
    };
  </script>
</head>
<body>

<div id="app">
  <input type="text" v-model="ipt">
  <li v-for="val in cptArr">{{val}}</li>
</div>


</body>
</html>