<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>666</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: 微软雅黑;
    }

  </style>
  <script src="js/vue.js"></script>
  <script>
    window.onload = function () {
      let vm=new Vue({
        el:'#app',
        data:{
          msg:'sh',
          arr:[
            {value:'sh',text:'上海'},
            {value:'bj',text:'北京'},
            {value:'zj',text:'浙江'},
          ]
        },
        computed:{
          cptMsg(){
            let test='';
            this.arr.forEach((val,index)=>{
              if(val.value==this.msg){
                test=val.text;
              }
            });
            return test;
          }
        }
      });
    };
  </script>
</head>
<body>

<div id="app">
  <select  v-model="msg">
    <option v-for="item in arr" :value="item.value">{{item.text}}</option>
  </select>
  {{msg}}/{{cptMsg}}
</div>


</body>
</html>