<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>666</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <style>

  </style>
  <script src="js/a/vue.js"></script>
</head>
<body>

<div class="buyCar">
  <dl v-for="item in arr">
    <dt>商品名称: {{item.name}}</dt>
    <dd>单价: {{item.price}}</dd>
    <dd>数量: <input type="number" v-model="item.count"></dd>
    <dd>小计: {{item.price * item.count}}</dd>
  </dl>
  <hr>
  总价: {{sum | currency}}
</div>
<script>
  new Vue({
    el:'.buyCar',
    data:{
      ipt:1,
      arr:[
        {name:'西红柿',price:'1.2',count:2},
        {name:'鸡蛋',price:'3.9',count:2.5},
        {name:'茄子',price:'2.7',count:4.5},
        {name:'黄瓜',price:'7.8',count:5}
      ]
    },
    computed:{
      sum:function(){
        let result=0;
        this.arr.forEach((item,index)=>{
          result += item.price * item.count;
        });
        return result;
      }
    }
  });
</script>
</body>
</html>