html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
:focus {
	outline: 1;
}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
nav, ul {
    list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/**蒙层样式，透明度0.6**/
.bounce_layout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
} 
/**弹窗样式**/
.bounce_wrap {
  width: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  text-align: center;
  z-index: 10;
  background: white;
}

.bounce_wrap .title {
  line-height: 80px;
  font-size: 20px;
  font-weight: bold;
}

.bounce_wrap .content {
  padding: 0.5rem 0.8rem;
  font-size: 18px;
  text-align: left;
  height: 90px;
  margin-bottom: 0.5rem;
}

.bounce_wrap .bottom {
  font-size: 20px;
  letter-spacing: 6px;
  border-top: 1px solid #c4c4c4;
  line-height: 80px;
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}

.bounce_wrap .bottom span {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 1;
  /* Chrome */
  flex: 1;
}

.bounce_wrap .bottom span:first-child {
  border-right: 1px solid #c4c4c4;
  border-radius: 0 0 0 0.3rem;
}

.bounce_wrap .bottom span:last-child {
  border-radius: 0 0 0.3rem 0;
}

.bounce_wrap .active {
  background: #d4ac58;
}
/**
loading样式
**/
#bowlG {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    background: gray;
    font-family: "微软雅黑";
    font-size: 18px;
    border-radius: 30px;
    z-index:1000 !important;
}

#bowl_ringG {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 30%;
    margin-top: 25%;
    width: 60px;
    height: 60px;
    border: 8px solid #fff;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

.ball_holderG {
    position: absolute;
    width: 18px;
    height: 70px;
    left: 17px;
    top: 0px;
    -webkit-animation-name: ball_moveG;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.ballG {
    position: absolute;
    left: 0px;
    top: -16px;
    width: 40px;
    height: 40px;
    background: gray;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

@-webkit-keyframes ball_moveG {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.loadWord {
    position: absolute;
    left: 50%;
    bottom: 5px;
    margin-left: -16%;
}